<h1> Director <%=@dir.id%> details </h1>
<a href="/directors" class="btn btn-block btn-iutline-secondary"> Go back </a>

&nbsp;|&nbsp;

<a href="/delete_director/<%=@dir.id%>" class="btn btn-block btn-iutline-secondary"> Delete director </a>

<hr>

<dl>
  <dt>
  Name
  </dt>
  <dd>
  <%=@dir.name%>
  </dd>
  <dt>
  Dob
  </dt>
  <dd>
  <%=@dir.dob%>
  </dd>
 <dt>
  Bio
  </dt>
  <dd>
  <%=@dir.bio%>
  </dd>
   <dt>
  Image
  </dt>
  <dd>
  <img src="https://robohash.org/<%=@dir.image%>">
  </dd>
   <dt>
  Created at
  </dt>
  <dd>
  <%= time_ago_in_words(@dir.created_at)%> ago
  </dd>
    <dt>
  Updated at
  </dt>
  <dd>
  <%= time_ago_in_words(@dir.updated_at)%> ago
  </dd>

&nbsp;|&nbsp;

<h2> Filmography </h1>
<table border="1">
<% @filmography.each do |film| %>
<tr>
  <td> <%= film.id %> </td>
  <td> <img src="https://robohash.org/<%= film.image %>"> </td>
  <td> <%= film.title %> </td>
  <td> <%= film.year %> </td>
  <td> <%= Director.where({:id=>film.director_id}).first.name %> </td>
  <td> <a href="/movies/<%=film.id%>"> Show details </a> </td>
</tr>
<%end%>
